<footer class="footer-demo section-dark">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="http://phonedaddies.com/" target="_blank">
            <b>Phone Daddies</b> Presents
          </a>
        </li>
        <li>
          <a href="#">
            <b>Online Phone Store</b>
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      Copyright © 2018 | Developed by 
      <a href="http://onflo.io/" target="_blank">Onflo</a> 
      | UI by 
      <a href="http://www.creative-tim.com/" target="_blank">Creative Tim</a>
    </div>
  </div>
</footer>
