<div class="tim-title">
  <h4>Business Information</h4>
  <div class="row">
    <div class="col-sm-6">
      <p>Name</p>
      <input type="text" class="form-control" placeholder="John's Phone Store">
    </div>
    <div class="col-sm-6">
      <p>Phone</p>
      <input type="text" class="form-control" placeholder="(555) 555-5555">
    </div>
    <div class="col-sm-6">
      <p>Email</p>
      <input type="text" class="form-control" placeholder="hello@johnsphones.com">
    </div>
    <div class="col-sm-6">
      <p>Facebook</p>
      <input type="text" class="form-control" placeholder="https://www.facebook.com/johnsphones">
    </div>
    <div class="col-sm-6">
      <p>Instagram</p>
      <input type="text" class="form-control" placeholder="https://www.instagram.com/johnsphones">
    </div>
    <div class="col-sm-6">
      <p>Website</p>
      <input type="text" class="form-control" placeholder="https://www.johnsphones.com">
    </div>
    <div class="col-sm-12">
      <button href="#fakelink" class="btn btn-fill" (click)="save()">Save Changes</button>
    </div>
  </div>
</div>
