<nav class="navbar navbar-default" role="navigation-demo">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/login">Online Phone Store</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation-example-2">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/profile" class="btn btn-fill">Profile</a>
        </li>
        <li>
          <a routerLink="/buy" class="btn">Buy</a>
        </li>
        <li>
            <a routerLink="/sell" class="btn">Sell</a>
          </li>
        <li>
            <a routerLink="/repair" class="btn">Repair</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="mailto:hello@onflo.io">
            <i class="fa fa-envelope"></i>
            &nbsp;&nbsp;Email
          </a>
        </li>
        <li>
            <a routerLink="/login">
              <i class="fa fa-lock"></i>
              &nbsp;&nbsp;Logout
            </a>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-->
</nav>
